@font-face {
  font-family: 'Hanken Grotesk Medium';
  src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk Bold';
  src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken Grotesk Extra Bold';
  src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}
