/* Responsive for mobile phone have screen 376px - 768px */
@media (min-width: 376px) and (max-width: 768px) {
  .container-main {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    position: unset;
  }
  /* Result */
  .result-table {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(234, 93%, 63%);
    background-image: linear-gradient(
      hsla(256, 72%, 46%, 1),
      hsl(234, 93%, 63%)
    );
    width: 100%;
    padding-bottom: 10px;
  }

  .result-table h3 {
    padding-top: 20px;
    margin: 5px 0;
    font-size: 20px;
  }

  #circle-result {
    background-image: linear-gradient(
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    margin: 20px auto;
  }

  #result-current {
    font-size: 80px !important;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
    color: hsl(0, 0%, 100%);
  }

  #circle-result p {
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  #content-result p {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  #great {
    font-weight: 700px;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
  }

  /* Summary */
  .summary-table {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    width: 100%;
  }

  .summary-table h3 {
    font-size: 20px;
    text-align: left;
    margin: 10px 45px;
    color: hsl(224, 30%, 27%);
  }

  .summary-table img {
    width: 25px;
    height: 25px;
    padding: 5px 0;
  }

  .summary-table p {
    margin: auto 30px auto 5px;
  }

  #reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
  }

  #memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
  }

  #verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
  }

  #visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
  }

  .num-summary {
    color: hsla(100, 0%, 0%, 0.3);
    padding-top: 10px;
    margin-left: 20px;
    flex-grow: 2;
  }

  .verbal-visual {
    padding-right: 10px;
  }

  /* Button Continue */
  #btn-continue {
    color: hsl(0, 0%, 100%);
    background-color: hsl(256, 72%, 46%);
    width: 280px;
    height: 40px;
    border-radius: 30px;
    border: hsl(256, 72%, 46%);
    font-weight: bold;
    margin: 5px auto;
    cursor: pointer;
  }

  #btn-continue:hover {
    background-color: hsl(224, 30%, 27%);
  }

  /* Footer Page*/
  .attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    color: hsl(224, 30%, 27%);
    padding-top: 10px;
    position: absolute;
    bottom: 0;
  }
  .attribution a {
    color: hsl(241, 100%, 89%);
  }

  /* Grid template */
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }

  .grid-items {
    border-radius: 0 0 30px 30px;
  }

  .item1 {
    grid-column-end: 2;
  }
}

/* For mobile phone have screen < 375px */
@media (max-width: 375px) {
  .container-main {
    width: 100%;
  }
  .content {
    width: 100%;
    position: unset;
  }
  /* Result */
  .result-table {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsl(234, 93%, 63%);
    background-image: linear-gradient(
      hsla(256, 72%, 46%, 1),
      hsl(234, 93%, 63%)
    );
    width: 100%;
    padding-bottom: 10px;
  }

  .result-table h3 {
    padding-top: 20px;
    margin: 5px 0;
    font-size: 18px;
  }

  #circle-result {
    background-image: linear-gradient(
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
  }

  #result-current {
    font-size: 50px !important;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    color: hsl(0, 0%, 100%);
  }

  #circle-result p {
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  #content-result p {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  #great {
    font-weight: 700px;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  /* Summary */
  .summary-table {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    width: 100%;
  }

  .summary-table h3 {
    font-size: 18px;
    text-align: left;
    margin: 10px 45px;
    color: hsl(224, 30%, 27%);
  }

  .summary-table img {
    width: 25px;
    height: 25px;
    padding: 5px 0;
  }

  .summary-table p {
    margin: auto 30px auto 5px;
  }

  #reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
  }

  #memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
  }

  #verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
  }

  #visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
    height: 40px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
  }

  .num-summary {
    color: hsla(100, 0%, 0%, 0.3);
    padding-top: 10px;
    margin-left: 20px;
    flex-grow: 2;
  }

  .verbal-visual {
    padding-right: 10px;
  }

  /* Button Continue */
  #btn-continue {
    color: hsl(0, 0%, 100%);
    background-color: hsl(256, 72%, 46%);
    width: 280px;
    height: 40px;
    border-radius: 30px;
    border: hsl(256, 72%, 46%);
    font-weight: bold;
    margin: 5px auto;
    cursor: pointer;
  }

  #btn-continue:hover {
    background-color: hsl(224, 30%, 27%);
  }

  /* Footer Page*/
  .attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    color: hsl(224, 30%, 27%);
    padding-top: 10px;
    position: absolute;
    bottom: 0;
  }
  .attribution a {
    color: hsl(241, 100%, 89%);
  }

  /* Grid template */
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }

  .grid-items {
    border-radius: 0 0 30px 30px;
  }

  .item1 {
    grid-column-end: 2;
  }
}
