* {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 7%);
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-size: 18px;
}

main {
	background-color: hsl(0, 0%, 95%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title-main {
	font-size: 49px;
	color: hsl(256, 67%, 59%);
	text-shadow: 2px 2px 5px hsl(39, 100%, 71%);
	height: 80px;
	margin-top: 20px;
}

#bento-grid-main {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	width: 1100px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

/* Section left */
.section-left {
	display: grid;
	grid-template-rows: auto auto;
	gap: 20px;
}

#frame-create-content {
	background-color: hsl(31, 66%, 93%);
	border-radius: 15px;
	width: 250px;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#frame-create-content p {
	font-size: 34px;
	font-weight: 400;
	line-height: 34px;
	width: 180px;
	margin-bottom: 10px;
}

#frame-create-content i {
	color: hsl(256, 67%, 59%);
	font-size: 34px;
}

#img-create-content {
	width: 180px;
	height: 95px;
	margin-top: 16px;
}

#frame-write-content {
	background-color: hsl(39, 100%, 71%);
	border-radius: 15px;
	width: 250px;
	height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#frame-write-content p {
	font-size: 34px;
	font-weight: 400;
	line-height: 34px;
	margin-bottom: 20px;
	width: 180px;
	margin-left: 10px;
}

#img-ai-content {
	width: 220px;
	height: 240px;
	margin-top: 20px;
	margin-left: 10px;
}

/* Section right */
.section-right {
	display: grid;
	grid-template-rows: auto auto;
}

/* row first */
#row-first {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

#three-frame {
	width: 520px;
	margin-right: 20px;
}

#frame-social-media {
	background-color: hsl(256, 67%, 59%);
	border-radius: 15px;
	width: 540px;
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#frame-social-media p {
	width: 350px;
}

#frame-social-media p,
i {
	color: hsl(0, 0%, 100%);
	text-align: center;
}

#text-title-social p,
span,
i {
	font-size: 46px;
	font-weight: 500;
	line-height: 48px;
	margin-bottom: 10px;
}

#text-title-social span {
	color: hsl(39, 100%, 71%);
}

#text-title-social {
	margin-bottom: 20px;
}

#img-five-stars {
	width: 200px;
	height: 35px;
	display: block;
	margin: auto;
}

#text-social {
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
}

#account-and-schedule {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#frame-manage-accounts {
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
	width: 260px;
	height: 260px;
	overflow: hidden;
}

#img-multiple-platforms {
	border-radius: 40px;
	width: 300px;
	height: 60px;
	margin-top: 35px;
	margin-left: 35px;
	margin-bottom: 20px;
}

#frame-manage-accounts p {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	margin-left: 35px;
	width: 160px;
	height: 130px;
}

#frame-consistent-schedule {
	background-color: hsl(39, 100%, 71%);
	border-radius: 15px;
	width: 260px;
	height: 260px;
	overflow: hidden;
}

#frame-consistent-schedule p {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	line-height: 24px;
	width: 180px;
	height: 80px;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 30px;
}

#img-consistent-schedule {
	width: 200px;
	height: 170px;
	margin-left: 30px;
}

#frame-scheduler-social {
	border-radius: 15px;
	width: 250px;
	height: 600px;
	background-color: hsl(254, 88%, 90%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
}

#title-schedule-social {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	width: 180px;
	margin-left: 25px;
	margin-bottom: 20px;
}

#img-schedule-posts {
	width: 355px;
	height: 325px;
	margin-left: 25px;
}

#content-schedule-social {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	width: 200px;
	margin-left: 25px;
	margin-top: 20px;
}

/* row second */
#row-second {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

#frame-audience-growth {
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
	width: 260px;
	height: 260px;
}

#title-audience-growth {
	font-size: 46px;
	font-weight: 500;
	margin-top: 20px;
	margin-left: 30px;
}

#content-audience-growth {
	font-size: 18px;
	font-weight: 400;
	width: 200px;
	margin-left: 30px;
	margin-top: 10px;
}

#img-audience-growth {
	width: 200px;
	height: 80px;
	margin-left: 30px;
	margin-top: 20px;
}

#frame-grow-followers {
	width: 530px;
	height: 260px;
	border-radius: 15px;
	background-color: hsl(256, 67%, 59%);
	display: flex;
	justify-content: center;
	align-items: center;
}

#img-grow-followers {
	width: 230px;
	height: 210px;
	margin-top: 10px;
	margin-left: 30px;
}

#frame-grow-followers p {
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
	color: hsl(0, 0%, 100%);
	margin-right: 30px;
}

/* footer attribution styles */
.attribution {
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 400;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}

/* Mobile Screen - Media Query */
@media screen and (max-width: 440px) and (min-width: 320px) {
	main {
		margin: 0;
		padding: 0;
	}

	#bento-grid-main {
		display: block;
		width: 360px;
		margin-left: 10px;
		margin-right: 0;
	}

	#bento-grid-main > * {
		display: revert;
		grid-template-rows: revert;
		grid-template-columns: revert;
	}

	.section-left,
	.section-right,
	#three-frame,
	#account-and-schedule,
	#row-first,
	#row-second {
		display: block;
	}

	#bento-grid-main {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		margin-top: 0;
	}

	#title-main {
		font-size: 30px;
		margin-top: 20px;
		width: 300px;
		text-align: center;
		margin-bottom: 10px;
	}

	/* Section left */
	.section-left {
		grid-row: 2;
	}

	#frame-create-content {
		width: 350px;
		height: 250px;
		margin-bottom: 20px;
		flex: none;
		margin: 0;
	}

	#frame-create-content p {
		font-size: 28px;
		line-height: 28px;
		width: 300px;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 25px;
	}

	#frame-create-content i {
		font-size: 28px;
	}

	#img-create-content {
		width: 180px;
		height: 90px;
		margin-top: 10px;
		margin-left: 25px;
	}

	#frame-write-content {
		width: 350px;
		height: 420px;
		flex: none;
		margin: 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#frame-write-content p {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 10px;
		width: 300px;
		margin-left: 25px;
	}

	#img-ai-content {
		width: 280px;
		height: 280px;
		margin-top: 10px;
		margin-left: 25px;
	}

	/* Section right */
	.section-right {
		grid-row: 1;
	}

	#row-first {
		margin-bottom: 20px;
	}

	#frame-social-media {
		width: 350px;
	}

	#frame-social-media p,
	i {
		width: 250px;
		color: hsl(0, 0%, 100%);
		text-align: center;
	}

	#text-title-social p,
	span,
	i {
		font-size: 45px;
		font-weight: 500;
		line-height: 48px;
		margin-bottom: 10px;
	}

	#text-title-social span {
		color: hsl(39, 100%, 71%);
	}

	#text-title-social {
		margin-bottom: 10px;
	}

	#img-five-stars {
		width: 170px;
		height: 30px;
		display: block;
		margin: auto;
	}

	#text-social {
		margin-top: 10px;
		font-size: 18px;
		font-weight: 300;
		line-height: 34px;
	}

	#account-and-schedule {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	#frame-manage-accounts {
		width: 350px;
		height: 200px;
	}

	#img-multiple-platforms {
		width: 300px;
		height: 60px;
		margin-top: 30px;
		margin-left: 25px;
	}

	#frame-manage-accounts p {
		width: 300px;
		margin-left: 25px;
	}

	#frame-consistent-schedule {
		width: 350px;
		height: 300px;
	}

	#frame-consistent-schedule p {
		width: 250px;
		margin-left: 25px;
		margin-bottom: 0;
	}

	#img-consistent-schedule {
		width: 250px;
		height: 200px;
		margin-left: 25px;
	}

	#frame-scheduler-social {
		width: 350px;
		height: 500px;
	}

	#title-schedule-social {
		width: 300px;
		margin-left: 25px;
	}

	#img-schedule-posts {
		width: 300px;
		height: 270px;
		margin-left: 25px;
		margin-top: 10px;
	}

	#content-schedule-social {
		width: 280px;
		margin-left: 25px;
		margin-top: 25px;
		text-align: center;
	}

	/* Row second */
	#row-second {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	#frame-audience-growth {
		grid-row: 2;
		width: 350px;
		height: 260px;
	}

	#title-audience-growth,
	#content-audience-growth,
	#img-audience-growth {
		margin-left: 25px;
	}

	#frame-grow-followers {
		width: 350px;
		height: 430px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#img-grow-followers {
		width: 270px;
		height: 230px;
	}

	#frame-grow-followers p {
		text-align: center;
		width: 250px;
		margin-top: 20px;
	}
}
