@media (min-width: 320px) and (max-width: 375px) {
  /* Rating state */
  .rating-state {
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(220, 9%, 13%));
    width: 300px;
    height: 320px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(216, 12%, 54%);
  }

  /* Title and Content of rating state */
  .title-frame {
    font-size: 26px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin: 20px 20px 10px 20px;
  }

  .content-rating {
    font-size: 12px;
    margin: 5px 20px 5px 20px;
    line-height: 1.5;
  }

  /* circle of icon title and rating number */
  .circle {
    width: 40px;
    height: 40px;
    background-color: hsl(212, 18%, 21%);
    border-radius: 50%;
    position: relative;
  }

  /* Star circle icon */
  .c-icon {
    margin-top: 20px;
    margin-left: 20px;
  }

  .c-icon img {
    width: 15px;
    height: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Number rating */
  .grid-rating {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    gap: 15px;
  }

  .number {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Submit button */
  #btn-submit {
    padding: 0;
    width: 260px;
    height: 35px;
    border-radius: 30px;
    border: 0;
    margin: 0 20px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /* Thank You state */
  .thank-you-state {
    /* background-color: hsl(213, 19%, 18%); */
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(220, 9%, 13%));
    width: 300px;
    height: 320px;
    border-radius: 20px;
    /* box-shadow: 0 5px 5px 0 hsl(213, 19%, 18%); */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(216, 12%, 54%);
  }

  /* Image icon  */
  .img-thank {
    margin-top: 35px;
    margin-left: 60px;
    width: 150px;
    height: 90px;
  }

  /* Selected rating */
  .select-frame {
    width: 200px;
    height: 30px;
    background-color: hsl(216, 11%, 26%);
    border-radius: 20px;
    margin: 20px 0 20px 50px;
    color: hsl(25, 97%, 53%);
  }

  .select-content {
    width: 160px;
    padding: 7px 0 7px 25px;
  }

  /* Title annd Content Thank You */
  .thanks {
    font-weight: 400;
    margin: 0 0 5px 85px;
    font-size: 26px;
    color: hsl(0, 0%, 100%);
  }

  .content-thanks {
    margin: 0 20px;
    text-align: center;
    width: 260px;
    line-height: 1.5;
    font-size: 12px;
  }

  /* Footer */
  .attribution {
    bottom: 10px;
  }
}

@media (min-width: 380px) and (max-width: 500px) {
  /* Rating state */
  .rating-state {
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(220, 9%, 13%));
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(216, 12%, 54%);
  }

  /* Title and Content of rating state */
  .title-frame {
    font-size: 26px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin: 30px 20px 10px 20px;
  }

  .content-rating {
    font-size: 12px;
    margin: 5px 20px 5px 20px;
    line-height: 1.5;
  }

  /* circle of icon title and rating number */
  .circle {
    width: 50px;
    height: 50px;
    background-color: hsl(212, 18%, 21%);
    border-radius: 50%;
    position: relative;
  }

  /* Star circle icon */
  .c-icon {
    margin-top: 20px;
    margin-left: 20px;
  }

  .c-icon img {
    width: 15px;
    height: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Number rating */
  .grid-rating {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    gap: 15px;
  }

  .number {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Submit button */
  #btn-submit {
    padding: 0;
    width: 310px;
    height: 35px;
    border-radius: 30px;
    border: 0;
    margin: 0 20px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
  }

  /* Thank You state */
  .thank-you-state {
    /* background-color: hsl(213, 19%, 18%); */
    background-image: linear-gradient(hsl(213, 19%, 18%), hsl(220, 9%, 13%));
    width: 350px;
    height: 350px;
    border-radius: 20px;
    /* box-shadow: 0 5px 5px 0 hsl(213, 19%, 18%); */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(216, 12%, 54%);
  }

  /* Image icon  */
  .img-thank {
    margin-top: 30px;
    margin-left: 90px;
    width: 150px;
    height: 100px;
  }

  /* Selected rating */
  .select-frame {
    width: 200px;
    height: 30px;
    background-color: hsl(216, 11%, 26%);
    border-radius: 20px;
    margin: 30px 0 30px 70px;
    color: hsl(25, 97%, 53%);
  }

  .select-content {
    width: 160px;
    padding: 7px 0 7px 25px;
  }

  /* Title annd Content Thank You */
  .thanks {
    font-weight: 400;
    margin: 0 0 10px 100px;
    font-size: 28px;
    color: hsl(0, 0%, 100%);
  }

  .content-thanks {
    margin: 0 35px;
    text-align: center;
    width: 270px;
    line-height: 1.5;
    font-size: 14px;
  }
}
