body {
  font-family: 'Overpass', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
  font-size: 15px;
}

/* Rating state */
.rating-state {
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(220, 9%, 13%));
  width: 400px;
  height: 400px;
  border-radius: 20px;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(216, 12%, 54%);
}

/* Title and Content of rating state */
.title-frame {
  font-size: 28px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  margin: 30px 30px 10px 30px;
}

.content-rating {
  margin: 5px 30px 10px 30px;
  line-height: 1.5;
}

/* circle of icon title and rating number */
.circle {
  width: 50px;
  height: 50px;
  background-color: hsl(212, 18%, 21%);
  border-radius: 50%;
  position: relative;
}

/* Star circle icon */
.c-icon {
  margin-top: 30px;
  margin-left: 30px;
}

.c-icon img {
  width: 15px;
  height: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button and Number rating */
.grid-rating {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  gap: 15px;
}

.btn-rating {
  width: 50px;
  height: 50px;
  background-color: hsl(212, 18%, 21%);
  border: 0 solid;
  border-radius: 50%;
  position: relative;
  color: hsl(216, 12%, 54%);
}

.btn-rating:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.btn-rating:focus {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

/* Submit button */
#btn-submit {
  padding: 0;
  width: 340px;
  height: 40px;
  border-radius: 30px;
  border: 0;
  margin: 0 30px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 5px;
}

#btn-submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/* Thank You state */
.thank-you-state {
  background-image: linear-gradient(hsl(213, 19%, 18%), hsl(220, 9%, 13%));
  width: 400px;
  height: 400px;
  border-radius: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: hsl(216, 12%, 54%);
}

/* Image icon  */
.img-thank {
  margin-top: 40px;
  margin-left: 120px;
  width: 160px;
  height: 120px;
}

/* Selected rating */
.select-frame {
  width: 200px;
  height: 30px;
  background-color: hsl(216, 11%, 26%);
  border-radius: 20px;
  margin: 30px 0 30px 105px;
  color: hsl(25, 97%, 53%);
}

.select-content {
  width: 160px;
  padding: 8px 0 8px 20px;
}

/* Title annd Content Thank You */
.thanks {
  font-weight: 400;
  margin: 0 0 5px 130px;
  font-size: 28px;
  color: hsl(0, 0%, 100%);
}

.content-thanks {
  margin: 0 30px;
  text-align: center;
  width: 340px;
  line-height: 1.5;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution a:hover {
  color: hsl(25, 97%, 53%);
}
